[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "AMCTestmakeR"]
	path = AMCTestmakeR
	url = https://github.com/nilsmy/amctestmaker
	shallow = true
	registered = true
