[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "AMCTestmakeR"]
	path = AMCTestmakeR
	url = https://github.com/nilsmy/amctestmaker
	shallow = true
	registered = true
[submodule "jrt"]
	path = jrt
	url = https://github.com/cran/jrt
	shallow = true
	registered = true
[submodule "nhstplot"]
	path = nhstplot
	url = https://github.com/cran/nhstplot
	shallow = true
	registered = true
